body{
    background-color: rgb(230,230,230);
}

*{
    border-radius: 12px;
    padding: 4px;
    font-family: 'Poppins', 'sans-serif';
}

button{
    border: 1px transparent;
    background-color: lightblue;
}

button:hover{
    cursor: pointer;
    filter: contrast(70%);
}